
html {
    background-color: #f1f1f1;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.zoom_map {
    margin-top: 8px;
    
    background-color: #aaddee;
    border: 1px solid black;
}

.map-and-input {
    margin: 8px 24px 16px;
}